body{
    background: rgb(255,223,81);
    background: linear-gradient(90deg, rgba(255,223,81,1) 0%, rgba(255,238,0,1) 100%), url("/static/images/polloimg1.png");
    background-blend-mode: multiply;
}


.card-body {
    font-size: small; 
    font-weight: bolder;
    background: rgb(219,219,219);
    background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(106,172,230,1) 100%), url("/static/images/papasfritas.png");
    background-blend-mode: multiply;

}